{% extends "admin/change_form.html" %}

{% block form_top %}
  <p>This form allows the maintainer to create or edit a recommendation. A recommendation can include text, links, pictures and videos. To add media or format text, use markdown described below the recommendation input box.</p>

  <p>You can tag a recommendation with a profile type. If the user's profile type matches the tagged profile, that recommendation will rise to the top of the list of recommendations presented to that user.</p>

  <p>Recommendations can be linked to specific answers through the <a href="{% url admin:questions_question_changelist %}">questions section</a></p>
  {% endblock %}


