{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'DSS Maintenance' %}{% endblock %}


{% block branding %}
<h1 id="site-name" > {% trans 'DSS Maintenance' %}</h1>
{% endblock %}

{% block extrahead %}
<style type="text/css">
#customLinks{
	position:absolute;
	margin-left:40%;
	top:10px;
	z-index:1;
}

#customLinks a:hover{
	color:white;
}

#content{
    color: #000;
}

</style>


<div id="customLinks">

<a href="{% url index %}"> Site Home </a>|
<a href="{% url admin:index %}"> Maintenance Home </a>|
<a href="{% url help %}"> Help </a>|
{% load count %} {% get_count %} <font color="white">Registered users: {{count}}</text></div>
{% endblock %}
