{% extends "base.html" %}

{% block content %}
{% if request.user.is_authenticated %}
    {% if answered_questions %}
        {% for q in answered_questions %}
            {{ q.answer }} <a href="/questions/{{ q.question.id }}/edit">(Change Answer)</a>

        <br />
        <br />
        
        {% endfor %}
    {% else %}
        <dp>No questions have been answered.</p>
    {% endif %}
{% else %}
    {% for a in answered_questions %}
       {{ a }} <a href="/questions/{{ a.id }}/edit">(Change Answer)</a>
        <br />
        <br />    
    {% endfor %}
{% endif %}
{% endblock %}
