<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}DSS{% endblock %}</title>

<style type="text/css">
{% block content %}
body {
  background-color: #e1ddd9;
  font-size: 13px;
  font-family: Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  padding:0;
  margin:0;
}



a { 
color: #545454;
text-decoration: none; 
}
 

#header {
-moz-box-shadow: 0px 1px 10px 0px #000000;
-webkit-box-shadow: 0px 1px 10px 0px #000000;
box-shadow: 0px 1px 10px 0px #000000;
font-size: 16px;
text-transform:uppercase;
color: #564b47;
background-color: #90897a;
padding:5px 15px;
margin:0px;
}

#header a{
color: #564b47;
}

#header a:hover{
color: white;
}

#header li{
display: inline;
}

h2 {
font-size:16px;
padding-top:10px;
text-transform:uppercase;
color: #564b47;
background-color: transparent;
}

.logo { margin: 20px 0; }

p, h2, pre {
margin: 0; 
padding: 5px 20px; 
}

#content {
	padding:10px;
}


#title {
	padding:5px;
	color:white;
	position:static;
	top:0%;
	margin-top:0px;
	padding-bottom:5px;
	background-color:#454545;
        -moz-border-radius: 15px;
        border-radius: 11px 11px 0 0;
}

#left-box {
        -moz-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0px 1px 10px 0px #000000;
        -webkit-box-shadow: 0px 1px 10px 0px #000000;
        box-shadow: 0px 1px 10px 0px #000000;
        top:50%;
        left:50%;
        padding: 0px;
        margin-left:10%;
        margin-bottom:10px;
        margin-top:40px;
        padding-bottom:40px;
        width:80%;
        border: 1px solid #454545;
        border-top: 0px;
        background-color: #ffffff;      
}

#user-info {
float: right;
}
</style>

<body>
    <div id=header>
        <li><a href="/">Home</a></li> |
        {% if request.user.is_staff %}<li><a href="/admin/">Admin</a></li> |{% endif %}
        <li><a href="/profile/">Profile</a></li>
    <div id="user-info">
	{% if user.is_authenticated %}
        Logged in as {{ user.username }} | <a href="/accounts/logout">Log out</a>
        {% else %}
            <a href="/accounts/login">Log in</a> or <a href="/accounts/register">Register</a>
        {% endif %}
        </div>
    </div>
<div id="left-box">
	<div id="title">Help</div>
	<div id="content">
        
   <h2>     Maintainer Guide 101</h2>

<h2>DECISION SUPPORT SYSTEM (DSS)</h2>

<h4>The site Maintainer logs in via the admin interface. During maintenance, it is recommended that database tables are optimized for performance enhancement. This guide supports the maintainer’s work and points them to common site functionality.</h4>


1. Site Map indicating user Actions
</br>
</br>
</br>

<img src="{{MEDIA_URL}}MaintainerGuide.jpg"> </br>


Once logged into the site administration page, the maintainer can;</br>
---Add Questions, Edit Questions, and Delete Questions from the database</br>
---Add Answers, Edit Answers, and Delete Answers from the database</br>
---Add Recommendations, Edit Recommendations, and Delete Recommendations from the database</br>
---Add Profiles, Edit Profiles, Delete desired Profiles</br>
---Add Users, Edit / change Users, and Delete desired Users</br>
---Add Groups, Edit groups, and Delete desired groups</br></br>


2. Database maintenance</br>
    2.1 Adding Questions to the database</br>
          ......2.1.1 Click “Add Questions” once logged into admin panel</br>
          ......2.1.2 Enter/Add Questions</br>
          ......2.1.3 Click “Add another Answer”</br>
          ......2.1.4 Enter/Add Answers</br>
          ......2.1.5 Repeat 2.1.3 for multiple Answers</br>
          ......2.1.6 Click “Add another RecAnswer Link”</br>
          ......2.1.7 Select desired Recommendation on left hand side panel</br>
          ......2.1.8 Select desired Answer to link the recommendation to</br>
          ......2.1.9 Repeat 2.1.6 for multiple Recommendation--->Answer Links</br> 
                   ...............2.1.9.1 Click “Save to save Question or follow 2.2 to save and exit</br>
                   ...............2.1.9.2 Repeat 2.1 to add extra Questions</br></br>


    2.2 Editing Questions and Answers</br>
          ......2.2.1 Once in admin panel, Click “Change” to the right hand side of the Questions tab</br>
          ......2.2.2 Or Click “Save and continue editing” if already within the Add Questions form</br>
          ......2.2.3 Click “Save and Add another” if 2.2.2</br>
          ......2.2.4 Click “Save and Exit” if 2.2.2 and 2.2.3</br></br>


    2.3 Deleting Questions and Answers (Deleting a Question deletes it’s associated Answers)</br>
          ......2.3.1 Once logged in to the questions form</br>
          ......2.3.2 Select desired Question to be deleted by checking it</br>
          ......2.3.3 Scroll through the InLine tab on the Questions panel</br>
          ......2.3.4 Select Delete selected question</br>
          ......2.3.5 Follow steps 2.3.1-2.3.4 with the Answers form to delete more Questions</br></br>


    2.4 Adding Recommendations</br>
          ......2.4.1 Click “Add recommendations” once logged into the admin panel</br> 
          ......2.4.2 Enter Recommendation in the text field area</br>
          ......2.4.3 Click “Add another Recommendation Profile”</br>
          ......2.4.4 Selected desired profile to assign to the recommendation</br>
          ......2.4.5 Click “Save to save recommendation or follow 2.5 to save and exit</br>
          ......2.4.6 Repeat steps 2.4.1-2.4.5 to add more recommendations</br>


    2.5 Editing Recommendations</br>
          ......2.5.1 Once in admin panel, Click “Change” to the right hand side of Recommendations</br>
          ......2.5.2 Or Click “Save and continue editing” if already within the Recommendations form</br>
          ......2.5.3 Click “Save and Add another”  if 2.5.2</br>
          ......2.5.4 Click “Save and Exit” if 2.5.2 and 2.5.3</br></br>


    2.6 Deleting Recommendations</br>
          ......2.6.1 Once logged in to admin panel, point to the Recommendations form</br>
          ......2.6.2 Select desired Recommendation to be deleted by checking it</br>
          ......2.6.3 Scroll through the InLine tab on the Recommendations panel</br>
          ......2.6.4 Select Delete selected Recommendation</br>
          ......2.6.5 Follow steps 2.6.1-2.6.4 to delete more recommendations</br></br>


    2.7 Adding Profiles</br>
          ......2.7.1 Click “Add profiles” once logged into the admin panel</br>
          ......2.7.2 Enter Profile name in the text field area</br>
          ......2.7.3 Assign a Question path by</br>
                   ...............2.7.3.1 Selecting current Question from drop down list</br>
                               ...............2.7.3.1.1 Clicking on Add within the current Question tab redirects to 2.1</br>
                   ...............2.7.3.2 Selecting follow Question from drop down list</br>
                               ...............2.7.3.1.1 Clicking on Add within the follow Question tab redirects to 2.1</br> 
          ......2.7.4 Repeat step 2.7.3 to add extra Question paths</br>
          ......2.7.5 Click “Save to save profile or follow 2.8 to save and exit</br>
          ......2.7.6 Repeat steps 2.7.1-2.7.5 to add additional profiles</br></br>
         
    2.8 Editing Profiles</br>
          ......2.8.1 Once in admin panel, Click “Change” to the right hand side of Profiles</br>
          ......2.8.2 Or Click “Save and continue editing” if already within the Profiles form</br>
          ......2.8.3 Click “Save and Add another”  if 2.8.2</br>
          ......2.8.4 Click “Save and Exit” if 2.8.2 and 2.8.3</br></br>


    2.9 Deleting Profiles</br>
          ......2.9.1 Once logged in to admin panel, point to the Profiles form</br>
          ......2.9.2 Select desired Profile to be deleted by checking it</br>
          ......2.9.3 Scroll through the InLine tab on the Profiles panel</br>
          ......2.9.4 Select Delete selected profiles</br>
          ......2.9.5 Follow steps 2.9.1-2.9.4 to delete more profiles</br></br>


    3.0 Adding Users</br>
          ......3.0.1 Click “Add Users” once logged into the admin panel</br>
          ......3.0.2 Insert username in the text field area</br>
          ......3.0.3 Insert password</br>
          ......3.0.4 Insert password confirmation for verification purposes</br>
          ......3.0.5 Click “Save to save the user on system</br>
          ......3.0.6 Repeat steps 3.0.1-3.0.5 to add extra users to the system</br></br>


    3.1 Editing Users</br>
          ......3.1.1 Once in admin panel, Click “Change” to the right hand side of Users</br>
          ......3.1.2 Or Click “Save and continue editing” if already within the Users form</br>
                   ...............3.1.2.1 Insert extra user details</br>
                   ...............3.1.2.2 Insert user’s email address</br>
                   ...............3.1.2.3 Assign permission to the user</br>
          ......3.1.3 Click “Save and Add another”  if 3.1.2</br>
                   ...............3.1.3.1 Repeats process 3.1 above</br>
          ......3.1.4 Click “Save and Exit” if 3.1.2 and 3.1.3</br>
                   ...............3.1.4.1 Similar to step 3.0.5</br></br>


    3.2 Deleting Users</br>
          ......3.2.1 Once logged in to admin panel, point to the Users form</br>
          ......3.2.2 Select desired users to be deleted by checking them</br>
          ......3.2.3 Scroll through the InLine tab on the Users panel</br>
          ......3.2.4 Select Delete selected user</br>
          ......3.2.5 Follow steps 3.2.1-3.2.4 to delete more users</br></br>


    3.3 Adding Groups</br>
          ......3.3.1 Click “Add Groups” once logged into the admin panel</br> 
          ......3.3.2 Enter Group name in the text field area</br>
          ......3.3.3 Select desired permissions to add to the group</br>
          ......3.3.4 Or Select “choose all” to assign all permissions to the group</br>
          ......3.3.5 Click “Save” to save the group</br>
          ......3.3.6 Repeat steps 3.3.1-3.3.5 to add extra groups</br></br>


    3.4 Editing Groups</br>
          ......3.4.1 Once in admin panel, Click “Change” to the right hand side of Groups</br>
          ......3.4.2 Or Click “Save and continue editing” if already within the Groups form</br>
          ......3.4.3 Click “Save and Add another”  if 3.4.2</br>
          ......3.4.4 Click “Save and Exit” if 3.4.2 and 3.4.3</br></br>


    3.5 Deleting Groups</br>
          ......3.5.1 Once logged in to admin panel, point to the Groups form</br>
          ......3.5.2 Select desired Group to be deleted by checking it</br>
          ......3.5.3 Scroll through the InLine tab on the Groups panel</br>
          ......3.5.4 Select Delete selected group or groups</br>
          ......3.5.5 Follow steps 3.5.1-3.5.4 to delete more groups</br></br>
       
    3.6 Checking the database for consistency</br>
          ......3.6.1 Install SQLite Database Browser</br>
                   ...............3.6.1.1 Click on File</br>
                   ...............3.6.1.2 Click on open database</br>
                   ...............3.6.1.3 Select database file and open</br></br>


          ......3.6.2 Navigating the database through the browser</br>
                   ...............3.6.2.1 Click on Database structure to view table and index details</br>
                               ...............3.6.2.1.1 Expand tables to view field details</br>
                               
                   ...............3.6.2.2 Click on Browse data to view id details for created fields</br>
                               ...............3.6.2.2.1 Click on scroll and select required table for view</br>
                      
                   ...............3.6.2.3 Create New Record</br>
                               ...............3.6.2.3.1 Click on create new record</br>
                   ...............3.6.2.4 Delete Record</br>
                               ...............3.6.2.4.1 Click on delete record </h4>


	</div>

    
</body>
</html>




{% endblock %}
